
*{

margin :0px;
padding:0px;
box-sizing:border-box;


}







.flex-container{
display:inline-flex;
flex-wrap:wrap;
box-sizing:order-box;
align:center;
margin 0;
padding 0;
}
.stora{

display:inline-flex;
flex-wrap:wrap;
position:relative;
justify-content:space-between;

}


img{
width:150px;
height:200px;
margin:20px;
}
h2{
padding-left:50px;
padding-top:60px;
color:white;
}

header{
margin:0px;
padding:0px;


background:#341f97;
}

body{
background-color:#c8d6e5;

box-sizing: border-box;
margin:0px;
padding 0px;

}

.nav ul{
text-decoration: none;
list-style:none;
background: #341f97;
text-align:center;
margin: 0;
padding :0;

}

.nav li{
text-decoration: none;
display:inline-block;
margin:0px;

}
.nav a {
text-decoration: none;
decoration : none;
color:#fff;
width:100px;
display:block;
padding:15px;
font-size:17px;
font-family: Helvetica; } h1{text-align:center;}
margin 0px;
